/* Element Selector */
body {
    /* Set all text color to #333 */
    color: #333;
    font-family: "Times New Roman", Times, serif; /* put background image */
    background-image: url(../images/nahil-naseer-xljtGZ2-P3Y-unsplash.jpg);
}

/* Combinators */
main > section > img {
    width: 50%;
}

/* ID Selector */
#paragraph {
    /* remaining default color 
    ID Selector is more specific*/
    color: black;
}

/* Class Selector */
.wrapper {
    /* set width 80% */
    width: 80%;
    margin: 0 auto;
    background-color: #dad7cd;
    border: 2px solid #333;
}

/* Pseudo Element Selector */
/* odd bullet point bold */
li:nth-of-type(odd) {
    font-weight: bold;
}

section img:hover {
    filter: sepia(50%) drop-shadow(15px 15px 20px black);
}

header {
    width: 90%;
    background-color: #a3b18a;
    margin: 0 auto;
    text-align: center;
}
